Repository BlackpointCyber/compassone-powershell-module-866jss, changes with the owners that .github/CODEOWNERS names for each.
All owners: @blackpoint/pscompassone-maintainers, @blackpoint/pscompassone-test-team, @blackpoint/pscompassone-powershell-reviewers, @blackpoint/pscompassone-security, @blackpoint/pscompassone-devops

.github/CODEOWNERS:

* @blackpoint/pscompassone-maintainers

# Test files and configurations
/src/test/** @blackpoint/pscompassone-test-team

# Core PowerShell module components
/src/core/** @blackpoint/pscompassone-powershell-reviewers

# API integration components (requires both PowerShell and security review)
/src/api/** @blackpoint/pscompassone-powershell-reviewers @blackpoint/pscompassone-security

# Infrastructure and deployment configurations
/infrastructure/** @blackpoint/pscompassone-devops

# GitHub Actions workflow configurations
/.github/workflows/* @blackpoint/pscompassone-devops

# Security documentation and policies
/SECURITY.md @blackpoint/pscompassone-security

# All PowerShell script files
*.ps1 @blackpoint/pscompassone-powershell-reviewers

# Authentication and authorization components
**/auth/** @blackpoint/pscompassone-security

# Configuration files requiring both security and DevOps review
**/config/** @blackpoint/pscompassone-security @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-866jss/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-866jss/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-866jss/.github/workflows/build.yml
  .github/workflows/build.yml
Owners: @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/.github/workflows/publish.yml
  .github/workflows/publish.yml
Owners: @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/.github/workflows/security.yml
  .github/workflows/security.yml
Owners: @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/.github/workflows/test.yml
  .github/workflows/test.yml
Owners: @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-866jss/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-866jss/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-866jss/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @blackpoint/pscompassone-maintainers

Add public-samples/compassone-powershell-module-866jss/infrastructure/config/build.settings.json
  infrastructure/config/build.settings.json
Owners: @blackpoint/pscompassone-security, @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/infrastructure/config/code.sign.settings.json
  infrastructure/config/code.sign.settings.json
Owners: @blackpoint/pscompassone-security, @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/infrastructure/config/publish.settings.json
  infrastructure/config/publish.settings.json
Owners: @blackpoint/pscompassone-security, @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/infrastructure/config/security.settings.json
  infrastructure/config/security.settings.json
Owners: @blackpoint/pscompassone-security, @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/infrastructure/docker/Dockerfile.build
  infrastructure/docker/Dockerfile.build
Owners: @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/infrastructure/docker/Dockerfile.dev
  infrastructure/docker/Dockerfile.dev
Owners: @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/infrastructure/docker/Dockerfile.test
  infrastructure/docker/Dockerfile.test
Owners: @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/infrastructure/scripts/build.ps1
  infrastructure/scripts/build.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/infrastructure/scripts/install-dependencies.ps1
  infrastructure/scripts/install-dependencies.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/infrastructure/scripts/package.ps1
  infrastructure/scripts/package.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/infrastructure/scripts/publish.ps1
  infrastructure/scripts/publish.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/infrastructure/scripts/sign.ps1
  infrastructure/scripts/sign.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/infrastructure/scripts/validate.ps1
  infrastructure/scripts/validate.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/infrastructure/templates/module.build.settings.json
  infrastructure/templates/module.build.settings.json
Owners: @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/infrastructure/templates/module.manifest.template.psd1
  infrastructure/templates/module.manifest.template.psd1
Owners: @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/infrastructure/templates/module.nuspec.template
  infrastructure/templates/module.nuspec.template
Owners: @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/infrastructure/templates/release.notes.template.md
  infrastructure/templates/release.notes.template.md
Owners: @blackpoint/pscompassone-devops

Add public-samples/compassone-powershell-module-866jss/src/test/ApiClient.Tests.ps1
  src/test/ApiClient.Tests.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/src/test/Authentication.Tests.ps1
  src/test/Authentication.Tests.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/src/test/Cache.Tests.ps1
  src/test/Cache.Tests.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/src/test/Configuration.Tests.ps1
  src/test/Configuration.Tests.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/src/test/Credentials.Tests.ps1
  src/test/Credentials.Tests.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/src/test/ErrorHandling.Tests.ps1
  src/test/ErrorHandling.Tests.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/src/test/Formatters.Tests.ps1
  src/test/Formatters.Tests.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/src/test/Integration.Tests.ps1
  src/test/Integration.Tests.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/src/test/Module.Tests.ps1
  src/test/Module.Tests.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/src/test/OutputFormatting.Tests.ps1
  src/test/OutputFormatting.Tests.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers

Add public-samples/compassone-powershell-module-866jss/src/test/PSCompassOne.Tests.ps1
  src/test/PSCompassOne.Tests.ps1
Owners: @blackpoint/pscompassone-powershell-reviewers
